* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.home {
  background: white;
}
nav {
  position: fixed;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  /* border: 1px solid black; */
}
.logo {
  position: absolute;
  /* border: 1px solid black; */
  left: 15%;
}
.logo a {
  text-decoration: none;
  color: #0099ff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.logo img,
.logo h1 {
  width: 4rem;
  font-size: 2rem;
}
.profile {
  font-size: 1.8rem;
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  right: 15%;
}
.profile a {
  color: grey;
  text-decoration: none;
}
#pp {
  width: 2.5rem;
  height: 2.5rem;
}
#pp img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profile-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 40vw;
  height: 100vh;
  padding: 2rem;
  background-color: #0099ff;
  color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.5s;
}
.profile-content-show {
  transform: translateX(0);
}
.profile-container a {
  color: white;
  font-size: 1.5rem;
}
.profile-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}
.logout {
  height: 2rem;
  font-style: normal;
  width: 6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  background-color: grey;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.logout:hover{
  background-color: black;
}
#logout-btn {
  font-size: 1rem;
}
.profile-photo {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.profile-data {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  padding: 2rem;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data {
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: white;
}
.form-label {
  font-size: 14px;
  width: 10rem;
  padding: 0.8rem;
  font-weight: bold;
}
.form-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  padding: 0.8rem;
  border-radius: 30px;
  outline: none;
}
.pp-input {
  visibility: hidden;
}
.form-input:focus {
  border: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
.profile-buttons {
  display: flex;
  gap: 1rem;
}
.profile-button {
  height: 3.5rem;
  font-style: normal;
  width: 9rem;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  background-color: #000b76;
  color: #fff;
  border: 2px solid #000b76;
}
.profile-button:hover {
  background-color: #fff;
  color: #000b76;
}
.profile-button:active {
  transform: scale(0.95);
}
.cancel-button {
  display: none;
}
.waves {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 30vh;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /* border: 1px solid black; */
}
.wave1 {
  width: 100%;
  position: absolute;
  bottom: -75%;
  z-index: 3;
  /* border: 1px solid black; */
}
.wave2 {
  width: 100%;
  position: absolute;
  bottom: -35%;
  z-index: 2;
  /* border: 1px solid black; */
}
.wave3 {
  /* border: 1px solid black; */
  width: 100%;
  position: absolute;
  bottom: -50%;
  z-index: 1;
}
.home-content {
  /* border: 1px solid black; */
  /* position: relative; */
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.left {
  position: relative;
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 2rem;
  padding-top: 5rem;
  /* border: 1px solid black; */
}
.mode-img-home {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.img-home {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-container {
  position: relative;
  /* border: 1px solid black; */
  margin-bottom: 0.5rem;
  justify-content: center;
  gap: 0.6rem;
  display: flex;
  align-items: center;
}
.home-button {
  height: 3.5rem;
  width: 9rem;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  background-color: #000b76;
  color: #fff;
  border: 2px solid #000b76;
}
.home-button:hover {
  background-color: #fff;
  color: #000b76;
}
.home-button:active {
  transform: scale(0.95);
}
.arrow-left,
.arrow-right {
  cursor: pointer;
  font-size: 2rem;
  color: #000b76;
}
.right {
  /* border: 1px solid black; */
  height: 100%;
  min-width: 40vw;
  padding: 7rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  gap: 1.2rem;
}
.leaderboard {
  background-color: #5000ca;
  width: 40vw;
  height: 50vh;
  border-radius: 15px;
  position: relative;
  gap: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-leaderboard {
  padding: 1.5rem;
  padding-bottom: 0;
  position: absolute;
  top: -18%;
  width: 110%;
  height: 8rem;
  border-radius: 25px 25px 250px 250px;
  background-color: #000b76;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}
.title-leaderboard h2 {
  position: absolute;
  z-index: 1;
  bottom: 25%;
}
.leaderboard-mode {
  border: 1px solid black;
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0.3rem;
  transform: translate(0, 50%);
  background-color: white;
  border-radius: 30px;
  color: #000b76;
  font-weight: bold;
}
.list-leaderboard {
  padding: 1.5rem;
  padding-top: 5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
.list-leaderboard li .prof {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.list-leaderboard li .index {
  font-size: 2rem;
  text-decoration: underline wavy white;
  color: #5000ca;
}
.leaderboard ul {
  list-style-type: none;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.leaderboard li {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  background-color: #0099ff;
}
.list-leaderboard::-webkit-scrollbar {
  display: none;
}
.list-leaderboard {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
footer {
  position: relative;
  overflow: hidden;
  height: 25vh;
  width: 100%;
  background-color: #0099ff;
}
